@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<div class="row">
    <ul>
        <li>
            <a href="~/Bright">画面を明るくする</a>
        </li>
        <li>
            <a href="~/Dark">画面を暗くする</a>
        </li>
        <li>
            <a href="~/ModifiedPixel">画面の一部を変更する</a>
        </li>
        <li>
            <a href="~/ReverseAll">画面を反転させる</a>
        </li>
        <li>
            <a href="~/Noise">ノイズを発生する</a>
        </li>
        <li>
            <a href="~/SimpleGray">グレースケール画像</a>
        </li>
    </ul>
</div>
