@page
@model DrawWebApplication.Pages.ModifiedPixel.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ピクセルの色に応じて色を変える</title>
    <script>
        function start() {
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');

            var image = new Image();
            image.onload = function () {
                context.drawImage(image, 0, 0);
                var imageData = context.getImageData(0, 0, image.width, image.height);
                var pixel = imageData.data;
                var width = 4 * imageData.width;
                var height = 10;
                for (var i = 0; i < width * height; i += 4) {
                    if (255 === pixel[i + 0] && 0 === pixel[i + 1] && 0 === pixel[i + 2]) {
                        imageData.data[i + 0] = 0;
                        imageData.data[i + 1] = 0;
                        imageData.data[i + 2] = 255;
                    } else {
                        imageData.data[i + 0] = 0;
                        imageData.data[i + 1] = 255;
                        imageData.data[i + 2] = 0;
                    }
                }
                context.putImageData(imageData, 0, 0);
            }
            image.src = "../../images/Image.png";
        }

    </script>
</head>
<body onload="start()">
    <canvas id="canvas" width="1920" height="1080">
        Canvasをサポートしたブラウザを使用してください。
    </canvas>
</body>
</html>
