@page
@using Microsoft.CodeAnalysis
@model DrawWebApplication.Pages.HelloPixel.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<body onload="start()">
<canvas id="canvas" width="1920" height="1080">
    Canvasをサポートしたブラウザを使用してください。
</canvas>

</body>

<script src="~/js/HelloPixel.js"></script>